body
{
    text-align: center;
}

#apps {
    background-color: rgb(93, 179, 255);
}

#myCarousel
{
    background-color: rgb(228, 247, 59);
}

#myCarousel img
{
    height: 320px;
    margin-top: 40px;
}

.carousel-inner p
{
    margin-top: 18px;
    color: rgb(235, 148, 35);
    font-size: 25px;
}
